<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="cv.AdjustPositionPlugin.actionSet">
         <action
               label="%menu_label"
               icon="icons/sample.gif"
               class="cv.AdjustPositionAction"
               tooltip="%menu_tooltip"
	       menubarPath="alignment/"
               id="AdjustPositionPlugin">
         </action>
     </actionSet>
   </extension>
</plugin>
